body {
  background: #f0f0e8;
}

.book-page {
  background: white;
  z-index: 10;
}

.book-menu .book-menu-content {
  background: #f0f0e8;
  max-height: 30rem;
  z-index: 10;
}

.book-toc .book-toc-content {
  max-height: 49rem;
  z-index: 10;
}

.book-toc {
  background: #f0f0e8;
  font-size: .8rem;
}

.container {
  max-width: 90rem;
}

aside nav ul li {
  margin: 0.6em 0;
}

.book-page table tr td {
  border: 1px solid #adb5bd;
}

.book-page table tr th {
  border: 1px solid #adb5bd;
}

.markdown table {
  width: 100%;
  display: table;
}

.markdown {
  margin: 0 1rem;
}

/*******标题h1，h2，h3**********/
.markdown h1 {
  font-weight: bolder;
  font-size: 2.8rem;
}

.markdown h2 {
  font-weight: bolder;
  font-size: 2rem;
  margin-top: 2rem;
}

.markdown h3 {
  font-weight: bolder;
  font-size: 1.4rem;
  margin-top: 2rem;
}

.markdown h4 {
  font-weight: bolder;
  font-size: 1rem;
  margin-top: 1rem;
}

/*******表格**********/
thead {
  background: var(--gray-100);
}